:root {
  --color-blue: #202942;
  --color-white: #ffffff;
  --color-yellow: #fff6b1;
}

body {
  font-family: 'Chakra Petch', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

#home {
  background-color: var( --color-blue);
  color: var(--color-white);
  padding: 5rem 1rem;
  padding-top: 4rem;
  text-align: center;
}

.home__title {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 5px var( --color-blue);
}

#about {
  background-color: var(--color-white);
  color: var(--color-text);
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  gap: 8rem;
}

.profile {
  width: 300px;
  height: 300px;
  margin: auto 0;
  border-radius: 50%; 
  border: 7px solid #000; 
}

.title {
  color: var( --color-blue);
  font-size: 1.5rem;
  font-weight: 600;
}

.descriptions {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  background-color: var(--color-yellow);
  padding: 1rem;
  width: 600px;
  border-radius: 1rem;
  font-weight: bold;
}

.description {
  display: flex;
  height: 2.5rem;
  gap: 1rem;
}

.description i {
  font-size: 1.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  color: var( --color-blue);
}

.description p {
  font-size: 1.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
}